# Virtual environment
.venv/

# Environment variables / API keys
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# PDF document
document loaders/GRU.pdf